
#recup{
    background-color: darksalmon;
    color: white;
    text-align: center;
    margin-left:30%;
    margin-right: 30%;
    padding-bottom: 27%;
}

#titre{
    text-align: center;
}

#formu{
    text-align: left;
}